SPOTIPY_CLIENT_ID=your_client_id_here
SPOTIPY_CLIENT_SECRET=your_client_secret_here
SPOTIPY_REDIRECT_URI=http://127.0.0.1:8080/callback
PLAYLIST_ID=your_playlist_id_here
# Required for Lot Radio Finder
OPENAI_API_KEY=your_openai_api_key_here

# Required for Playlist Suggester
SUGGESTIONS_PLAYLIST_ID=your_suggestions_playlist_id_here
