[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spotipy = "*"
python-dotenv = "*"
requests = "*"
beautifulsoup4 = "*"
pandas = "*"
jupyter = "*"
requests-html = "*"
selenium = "*"
openai = "*"
pydantic = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3"
